body
{
    color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Anton', sans-serif;
}

.body2
{
    background-color: #020240;
}

.power
{
    font-size: 20px;
    padding-left: 100px;
}

nav
{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    color : white;
    width: 100%;
    font-family: 'Anton', sans-serif;
    align-items: baseline;
}

#header{ top: 0; background: #000; height: 100%; background-attachment: fixed; width: 100px;}


.connexion
{
    text-decoration: none;
    color: white;
}


.connexion_contact
{
    text-decoration: none;
    color: white;
    padding-right: 100px;
}

.connexion_contact:hover
{
    color:red;
}

.cont
{
    text-decoration: none;
    color: white;
}

.connexion:hover
{
    color: red;
}
ul{
    list-style: none;
}
.listonglet{
    display: none;
    padding-left: 500px;
}


.fond
{
    background-image: url("Images/Background/fond_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
    padding-bottom: 200px;
}

.Bienvenue
{
    text-align: center;
    color: white;
    font-size: 70px;
    font-family: 'Anton', sans-serif;;
    padding-top: 100px;
}

.pad
{
    padding-left: 500px;
}

.pad1
{
    padding-right: 100px;
    text-decoration: none;
}

.Bienvenue1
{
    text-align: center;
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
}

.center{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 30px;
}
#btn {

    box-sizing: border-box;
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
  }
  
  a span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
  }
  
  a .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #e49918;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
  }
  
  a .liquid::after,
  a .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
  }
  
  a .liquid::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  a .liquid::after {
    
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

.section1
{
    background-color: #020240;
    height: 500px;
    width : 100%;
    margin : auto;
}

.section
{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}

.un
{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 5px;
}

.deux
{
    padding-left: 65px;
}

.number
{
    font-size: 40px;
    color: lightblue;
    padding-right: 20px;
}

.img1
{
    height : 500px;
    width: 600px;
    padding-left: 50px;
}

.img2
{
    height: 500px;
    width : 300px;
}

.img3
{
    height : 500px;
    width: 300px;
    padding-right: 50px;
}

.section2
{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

}

.section5
{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.lorem
{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}


.watchdog
{
    height: 500px;
    width: 50%;
    padding-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    margin: 10px;
    font-size: 30px; 
}

.I
{
    text-align: center;
    border: 1px solid #13138b;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 40px;
    background-color: #13138b;
    border-radius: 5px;
    margin-top: 100px;
    color: white;
}

.J
{
    text-align: center;
    border: 1px solid #55c355;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 20px;
    background-color: #55c355;
    border-radius: 5px;
    margin-top: 100px;
    color: white;
}

.K
{
    text-align: center;
    border: 1px solid #e557e5;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 40px;
    background-color: #e557e5;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
}

.L
{
    text-align: center;
    border: 1px solid orange;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 20px;
    background-color: orange;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
}

.section3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part1
{
    display: flex;
    flex-direction: row;
}

.equipe
{
    text-align: center;
    padding-top: 100px;
    font-family: 'Archivo', sans-serif;
}

#fleur
{
    height: 40px;
    width: 40px;
    padding-bottom: 100px;
}

.section4
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.card1
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

.card1:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

#per1
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.card2
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

.card2:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

#per2
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.card3
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
    overflow: hidden;
}

.card3:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

#per3
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.card4
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

.card4:hover
{
    transform: scale(1.1);
    transition: 0.5s;

}

#per4
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#Calque_3
{
    display: center;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.container
{
    background-color: #020240;
    font-family: 'Archivo', sans-serif;
}

footer{
    background-color: #01011e;
    display: flex;
    font-family: 'Archivo', sans-serif;   
}

.footer1
{
    padding-left: 120px;
  
}

.footer2
{
    padding-left: 400px;
}

.footer2 ul
{
    list-style: none;
}

.footer2 li::before 
{
    content: "▀";
    color: orange;
    display: inline-block;
    width: 20px;
}

#mail
{
    text-decoration: none;
    color: white;
}

#position
{
    text-decoration: none;
    color: white;
}


li a
{
    text-decoration: none;
    color: white;
}

li b
{
    text-decoration: none;
    color: white;
}

li c
{
    text-decoration: none;
    color: white;
}

.orange
{
    color: orange;
}

.icones
{
    display: flex;
    flex-direction: row;
}

.icone1
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone2
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone3
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone4
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone5
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}
.remonte {
    position: fixed;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px 10px 10px 10px;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }