body
{
    color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Anton', sans-serif;
}

.body2
{
    background-color: #020240;
}

.power
{
    font-size: 20px;
    padding-left: 100px;
}

nav
{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    color : white;
    width: 100%;
    font-family: 'Anton', sans-serif;
    align-items: baseline; 
}

.connexion
{
    text-decoration: none;
    color: white;
}


.connexion_contact
{
    text-decoration: none;
    color: white;
    padding-right: 100px;
}

.connexion_contact:hover
{
    color:red;
}

.cont
{
    text-decoration: none;
    color: white;
}

.connexion:hover
{
    color: red;
}


.fond
{
    background-image: url("Images/Background/fond_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.Bienvenue
{
    text-align: center;
    margin-top : 150px;
    color: white;
    font-size: 70px;
    padding-top: 20px;
    font-family: 'Anton', sans-serif;;
}

.pad
{
    padding-left: 500px;
}

.pad1
{
    padding-right: 100px;
    text-decoration: none;
}

.Bienvenue1
{
    text-align: center;
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
}

.button
{
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.jouer
{
    font-family: 'Anton', sans-serif;
}

button
{
    background-color: orange;
    color: white;
    font-size: 20px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
}

.section1
{
    background-color: #020240;
    height: 500px;
    width : 100%;
    margin : auto;
}

.section
{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}

.un
{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 5px;
}

.deux
{
    padding-left: 65px;
}

.number
{
    font-size: 40px;
    color: lightblue;
    padding-right: 20px;
}

.img1
{
    height : 500px;
    width: 600px;
    padding-left: 50px;
}

.img2
{
    height: 500px;
    width : 300px;
}

.img3
{
    height : 500px;
    width: 300px;
    padding-right: 50px;
}

.section2
{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

}

.section5
{
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.lorem
{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}


.watchdog
{
    height: 500px;
    width: 50%;
    padding-left: 50px;
    margin-top: 100px;
    border-radius: 10px;
}

.conteneur
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
    margin: 10px;
    font-size: 30px; 
}

.I
{
    text-align: center;
    border: 1px solid #13138b;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 40px;
    background-color: #13138b;
    border-radius: 5px;
    margin-top: 100px;
    color: white;
}

.J
{
    text-align: center;
    border: 1px solid #55c355;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 20px;
    background-color: #55c355;
    border-radius: 5px;
    margin-top: 100px;
    color: white;
}

.K
{
    text-align: center;
    border: 1px solid #e557e5;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 40px;
    background-color: #e557e5;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
}

.L
{
    text-align: center;
    border: 1px solid orange;
    width: 40%;
    height: 4em;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-right: 20px;
    background-color: orange;
    border-radius: 5px;
    margin-top: 40px;
    color: white;
}

.section3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part1
{
    display: flex;
    flex-direction: row;
}

.equipe
{
    text-align: center;
    padding-top: 100px;
    font-family: 'Archivo', sans-serif;
}

#fleur
{
    height: 40px;
    width: 40px;
    padding-bottom: 100px;
}

.section4
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card1
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

#per1
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.card2
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

#per2
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.card3
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
}

#per3
{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.container
{
    background-color: #020240;
    font-family: 'Archivo', sans-serif;
}

footer{
    background-color: #01011e;
    display: flex;
    font-family: 'Archivo', sans-serif;   
}

.footer1
{
    padding-left: 120px;
  
}

.footer2
{
    padding-left: 400px;
}

.footer2 ul
{
    list-style: none;
}

.footer2 li::before 
{
    content: "▀";
    color: orange;
    display: inline-block;
    width: 20px;
}

#mail
{
    text-decoration: none;
    color: white;
}

#position
{
    text-decoration: none;
    color: white;
}


li a
{
    text-decoration: none;
    color: white;
}

li b
{
    text-decoration: none;
    color: white;
}

li c
{
    text-decoration: none;
    color: white;
}

.orange
{
    color: orange;
}

.form
{
    text-align: center;
    width: 50%;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 300px;
}


.contact {
    display: inline-block;
    position: relative;
    width:100%;
}

.contact .text
{
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}

.img_contact
{
    width: 100%;
    height: 400px;
}

.section6
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card4
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
    width: 250px;
    margin-top: 100px;
    margin-left: 100px;
}

.card5
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
    width: 250px;
    margin-top: 100px;
}
.card6
{
    text-align: center;
    background-color: #01011e;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Archivo', sans-serif;
    width: 250px;
    margin-top: 100px;
    margin-right: 100px;
}

.radius
{
    border-radius: 50%;
    height: 80px;
    background: orange;
}

.formContact
{
    margin-left: 145px;
}

.form1
{
    padding: 10px;
    background-color: #4863A0;
    width: 250px;
}

.form2
{
    padding: 10px;
    width: 315px;
    margin-top: 10px;
    background-color: #4863A0;
    width: 530px;
}

.form3
{
    margin-top: 10px;
    background-color: #4863A0;
    width: 550px;
}

.buttonContact
{
    margin-left: 145px;
    padding-top: 10px ;
    height: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 100px;
    font-size: 20px;
}

.img_connexion
{
    height: 40px;
    width: 100%
}

.inscription
{
    display: inline-block;
    position: relative;
    width:100%;
}

.inscription .text1
{
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}
.timer{
    font-size: 50px;
}
.bouton{
        position:relative;
        width:200px;
        color:#FFF;
        display:block;
        text-decoration:none;
        margin:0 auto;
        border-radius:5px;
        border:solid 1px orange;
        background:orange;
        text-align:center;
        padding:20px 30px;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        transition: all 0.1s;
        -webkit-box-shadow: 0px 9px 0px orangered;
        -moz-box-shadow: 0px 9px 0px orangered;
        box-shadow: 0px 9px 0px orangered;
}
.bouton:active{
    -webkit-box-shadow: 0px 2px 0px orangered;
    -moz-box-shadow: 0px 2px 0px orangered;
    box-shadow: 0px 2px 0px orangered;
    position:relative;
    top:7px;
}   
.formInscription
{
    text-align: center;
    margin-top: 200px;
}


.formInscription1
{
    padding: 7px;
    width: 400px;
    background-color: #4863A0;
}

.formInscription2
{
    padding: 7px;
    margin-top: 10px;
    width: 400px;
    background-color: #4863A0;

}

.formInscription3
{
    padding: 7px;
    margin-top: 10px;
    width: 400px;
    background-color: #4863A0;
}

.formInscription4
{
    padding: 7px;
    width: 400px;
    background-color: #4863A0;
    
}


.buttonInscription
{
    margin-left: 510px;
    padding:10px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.formConnexion
{
    text-align: center;
}

.formConnexion1
{
    padding: 5px;
    margin-top: 100px;
    width: 400px;
    background-color: #4863A0;
}

.formConnexion2
{
    padding: 5px;
    width: 400px;
    background-color: #4863A0;
    
}

.buttonConnexion
{
    padding:10px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 320px;
    font-size: 12px;
}

.copyright{
    margin-top:100px;
    font-size: 15px;
}

.TableEntier
{
    display: flex;
    justify-content: center;
}

.table-style 
{
    border-collapse: collapse;
    margin: 100px;
    border: 1px;
}

thead tr 
{
    background-color: orange;
    color: white;
    text-align: center;
}

th, td 
{
    padding: 80px 180px;
    text-align: center;
}

tbody tr, td, th
{
    border: 1px solid white;
}

.grille 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.46);
}

#chat
{
    color: white ;
}

#chat1
{
    color: black;
}

.chat
{
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    background-color: #1F45FC;
    width: 500px;
    border-radius: 5px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.body_chat
{
    color: black;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute; right: 0; bottom: 0;

}

.msgg1
{
    padding-left: 170px;
    padding-top: 50px;

}

.me
{
    margin-left: 200px;
    color: lightgray;
}

.me1{
    color: lightgray;

}

#hello
{
    background-color: #1F45FC;
    border-radius: 5px;
    margin-left: 200px;
    
}

#rep
{
    width: 350px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    
}

#message
{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
}

.msg
{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

#envoyer
{
    color: black;
    background-color: white;
    margin-left: 50px;
}

.icones
{
    display: flex;
    flex-direction: row;
}

.icone1
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone2
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone3
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone4
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone5
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.deroule
{
    float: left;
    width: 15%;
    margin: 0 auto;
    margin-top: -4%;
    margin-left: -2%;
}

.deroule ul
{
    list-style-type: none;
}

.deroule ul li
{
    float: left;
    width: 25%;
    text-align: center;
}

.deroule ul::after
{
    content: "";
    display: table;
    clear: both;
}

.deroule .menu
{
    display: block;
    text-decoration: none;
    padding-left: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid orange;
}

.menu:hover 
{ 
    cursor: pointer;
    color: orange;
    border-bottom: 2px solid gold;
}

.sous
{
    display: none;
    box-shadow: 0px 1px 2px #11102f;
    background-color: #11102f;
}

.deroule > ul li:hover .sous 
{
    display: flex;
    flex-direction: column;
    position: relative;
}

.sous li
{
    float: none;
    width: 100%;
    text-align: center;
}

.sous .menu
{
    padding: 10px;
    border-bottom: none;
}

.sous .menu:hover
{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > .menu::after
{
    content: ▼;
    font-size: 12px;
}

.sous
{
    display: none;
    box-shadow: 0px 1px 2px #11102f;
    position: absolute;
    background-color: #11102f;
    width: 100%;
    z-index: 1000%;
}

.deroule ul li
{
    float: left;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    position: relative;
}

.menuderoule
{
    display: flex;
    flex: end;
    padding-top: 90px;
}

.menuderoule2
{
    display: flex;
    flex: start;    
    padding-top: 90px;
}

.menuderoule
{
    display: flex;
    justify-content: right;
}

.contenu
{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.wrapper
{
    background: #f8f8f8;
    width: 788px;
    height: 740px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.cards, .card, .view
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards
{
    height: 700px;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card
{
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: calc(100% / 5 - 10px);
    width: calc(100% / 5 - 10px);
}

.card.shake
{
    animation: shake 0.35s ease-in-out;
}

@keyframes shake
{
    0%, 100%
    {
        transform: translateX(0);
    }
    20%
    {
        transform: translateX(-13px);
    }
    40%
    {
        transform: translateX(13px);
    } 
    60%
    {
        transform: translateX(-8px);
    }
    80%
    {
        transform: translateX(8px);
    }
}

.card .view
{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.25s linear;
}

.card .front-view img
{
      width: 19px;
}

.card .back-view img
{
    max-width: 45px;
}

.card .back-view
{
    transform: rotateY(-180deg);
}

.card.flip .back-view
{
    transform: rotateY(0);
}
.card.flip .front-view
{
  transform: rotateY(180deg);
}

@media screen and (max-width: 700px) 
{
  .cards{
    height: 350px;
    width: 350px;
  }
  .card .front-view img{
    width: 17px;
  }
  .card .back-view img{
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) 
{
  .cards
  {
    height: 300px;
    width: 300px;
  }
  .card .front-view img
  {
    width: 15px;
  }
  .card .back-view img
  {
    max-width: 35px;
  }
}





/**
 * Faisons du beau, faisons du gracieux. 
 */

/**
 * Typographies Google Maggle !
 */
 @import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Ubuntu');

 h1 {
    font-family: 'Anton', sans-serif;
  }

 



 
 .chat{
  width: 750px;

  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top : 100px;

 
 }
 
 header {
   text-align: center;
 }
 
 .messages {
   background-color: steelblue;
   border-radius: 10px;
   /*padding: 1em;*/
   height: 300px;
   width: 300px;
   overflow: auto;
  padding-right: 500px;
 }
 
 .message {
   color: white;
   padding: 0.3em;
   text-align: left;
 }
 
 .date, .author {
   font-weight: bold;
 }
 
 form {
   display: flex;
   margin-top: 1em;
   justify-content: space-between;
 }
 
 input, button {
   padding: 0.5em;
 }
 
.user-inputs{

    margin-bottom: 100px;
}
 input {
   margin-right: 10px;
 }
 
 #author {
   width: 20%;
 }
 
 #content {
   width: 60%;
 }
 
 button[type="submit"]{
   width: 20%;
 }

 .btn_msg{
    padding: 20px;
    margin-right: 650px;
 }