@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

body
{
    color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Anton', sans-serif;
}

.body2
{
    background-color: #020240;
}

.power
{
    font-size: 20px;
    padding-left: 100px;
}

nav
{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    color : white;
    width: 100%;
    font-family: 'Anton', sans-serif;
    align-items: baseline;
}

.connexion
{
    text-decoration: none;
    color: white;
}


.connexion_contact
{
    text-decoration: none;
    color: white;
    padding-right: 100px;
}

.connexion_contact:hover
{
    color:red;
}

.cont
{
    text-decoration: none;
    color: white;
}

.connexion:hover
{
    color: red;
}

.fond
{
    background-image: url("Images/Background/fond_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
}

.Bienvenue
{
    text-align: center;
    margin-top : 150px;
    color: white;
    font-size: 70px;
    padding-top: 20px;
    font-family: 'Anton', sans-serif;;
}

.pad
{
    padding-left: 500px;
}

.pad1
{
    padding-right: 100px;
    text-decoration: none;
}

.Bienvenue1
{
    text-align: center;
    color: whitesmoke;
    font-family: 'Archivo', sans-serif;
}

.connexion_contact
{
    text-decoration: none;
    color: white;
    padding-right: 100px;
}

.connexion_contact:hover
{
    color:red;
}

.img_contact {
    width: 100%;
    height: 400px;
}

.inscription .text1 {
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: 'Anton', sans-serif;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}

.centrale
{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 130px;
}

.inscription {
    display: inline-block;
    position: relative;
    width: 100%;
}

.cont
{
    text-decoration: none;
    color: white;
}

.connexion:hover
{
    color: red;
}



.inputBox{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 350px;
}

h2{
    color: #01011e;
    text-align: capitalize;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.passwordBox {
    padding: 0 10px;
}

input{
    width: 100%;
    letter-spacing: 3px;
    padding: 10px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    outline: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.buttons {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: capitalize;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

button:first-child{
    color: #fff;
    background-color: #5372F0;
    width: 69%;
}

button:last-child{
    color: #6c757d;
    background-color: transparent;
    width: 28%;
    border: 1px solid #6c757d;
}

.container
{
    background-color: #020240;
    font-family: 'Archivo', sans-serif;
}

footer{
    background-color: #01011e;
    display: flex;
    font-family: 'Archivo', sans-serif;   
}

.footer1
{
    padding-left: 120px;
  
}

.footer2
{
    padding-left: 400px;
}

.footer2 ul
{
    list-style: none;
}

.footer2 li::before 
{
    content: "▀";
    color: orange;
    display: inline-block;
    width: 20px;
}

#mail
{
    text-decoration: none;
    color: white;
}

#position
{
    text-decoration: none;
    color: white;
}


li a
{
    text-decoration: none;
    color: white;
}

li b
{
    text-decoration: none;
    color: white;
}

li c
{
    text-decoration: none;
    color: white;
}

.orange
{
    color: orange;
}

.icones
{
    display: flex;
    flex-direction: row;
}

.icone1
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone2
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone3
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone4
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}

.icone5
{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    background-color: orange;
    width: 30px;
    margin-right: 10px;
}